alembic==1.16.5
amqp==5.3.1
antiorm==1.2.1
arabic-reshaper==3.0.0
asgiref==3.9.1
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
celery==5.5.3
certifi==2025.8.3
channels==4.3.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
db==0.1.1
dj-database-url==3.0.1
Django==4.2.7
django-celery-beat==2.8.1
django-colorfield==0.10.1
django-cors-headers==4.7.0
django-simple-history==3.10.1
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
dnspython==2.7.0
et_xmlfile==2.0.0
eventlet==0.33.3
Flask==3.0.0
Flask-Migrate==4.1.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
greenlet==3.2.4
h11==0.16.0
hijri-converter==2.3.2.post1
hijridate==2.3.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.4
Mako==1.3.10
MarkupSafe==3.0.2
npm==0.1.1
openpyxl==3.1.5
optional-django==0.1.0
packaging==25.0
Pillow==9.5.0
prompt_toolkit==3.0.51
protobuf==5.26.1
psutil==7.0.0
psycopg2-binary==2.9.10
python-bidi==0.4.2
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-engineio==4.12.2
python-socketio==5.10.0
pytz==2025.2
reportlab==4.0.9
requests==2.32.3
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.43
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
wsproto==1.2.0
gunicorn
